{{!-- <div>
    <h1>
        PINGÜILIA: UNA CIUDAD DE GENTE QUE VIVE DISFRAZADA DE PINGÜINOS
    </h1>
    <p>
        UBICADA A 3 KILÓMETROS DE GUADALAJARA, EN EL CORAZÓN DE CASTILLA LA MANCHA QUEDA PINGÜILIA UNA CIUDAD EN LA SUS
        2000 HABITANTES LO HACEN TODO, DISFRAZADOS COMO PINGÜINOS.
    </p>
</div> --}}

<div class="card mb-3" style="max-width: 1840px; ">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="/img/pueblo.webp" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">PINGÜILIA: UNA CIUDAD DE GENTE QUE VIVE DISFRAZADA DE PINGÜINOS</h5>
                <p class="card-text"> UBICADA A 3 KILÓMETROS DE GUADALAJARA, EN EL CORAZÓN DE CASTILLA LA MANCHA QUEDA
                    PINGÜILIA UNA CIUDAD EN LA SUS 2000 HABITANTES LO HACEN TODO, DISFRAZADOS COMO PINGÜINOS.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>